*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: black;
}
.menu{
position: relative;
width: 260px;
height: 260px;
justify-content: center;
align-items: center;
display: flex;
}
.menu li{
position: absolute;
left: 0;
list-style: none;
transform-origin: 130px;
transition: 0.5s;
transform: rotate(0deg) translateX(100px);
transition-delay: calc(0.2s * var(--i));
}
.menu li a {
display: flex;
justify-content: center;
align-items: center;
width: 60px;
height: 60px;
font-size: 30px;
border-radius: 50%;
transform: rotate(calc(360deg/-8 * var(--i)));
color: transparent;
transition: 1s;
transition-delay: 0.2s;
}
.menu li a::before{
content: "";
position: absolute;
border-radius: 2px;
background: var(--clr);
transform: rotate(calc(var(--i)*90deg)) translate(0.25px);
transition: height 0.5s, width 0.5s, transform 0.5s;
transition-delay: 0s,0s,0s;
}
.menu.active li a::before{
width: 60px;
height: 60px;
border: 2px solid var(--clr);
background: #2f363e;
transform: rotate(calc(var(--i)*90deg)) translate(0px,0px);
transition: transform 0.5s, height 0.5s, width 0.5s;
transition-delay: 1s,1.5s,1.5s;
rotate: 135deg;
}
.menu.active li:hover a::before{
background: var(--clr);
box-shadow: 0 0 10px var(--clr),
0 0 30px var(--clr),
0 0 50px var(--clr);
}
.menu.active li:hover a ion-icon{
position: relative;
color: #2f363e;
z-index: 100000;
}
.menu li a::after{
content: '';
position: absolute;
left: 50px;
width: 20px;
height: 2px;
background: var(--clr);
z-index: -1;
transform: rotate(calc(var(--i) * 45deg)) translate(50px,0px);
transition: 0.5s;
transition-delay: 0.5s;
}
.menu.active li a{
color: var(--clr);
}
.menu.active li a::after{
left: 10px;
width: 40px;
z-index: 100000;
transition-delay: 0.5s;
}
.menu.active li{
transform: rotate(calc(360deg/8 * var(--i)));
}
.menuToggle{
position: absolute;
width: 60px;
height: 60px;
color: white;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
border-radius: 50%;
cursor: pointer;
font-size: 24px;
transition: transform 1.5s;
color: white;
}
.menuToggle:hover{
color: aqua;
}
.menu.active .menuToggle{
transform: rotate(315deg);
}